@model System.Web.Mvc.HandleErrorInfo
@using SBSResourceAPI;
@{
    ViewBag.Title = Resource.Error;
}

<h1 class="text-danger"> @Resource.Error</h1>
<h2 class="text-danger"> @Resource.Message_An_Error_Occurred_While_Processing_Your_Request</h2>

