<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Authentication\packages.config" />
  <repository path="..\GenerateInvoiceService\packages.config" />
  <repository path="..\HR\packages.config" />
  <repository path="..\SBSModel\packages.config" />
  <repository path="..\SBSWorkFlowAPI\packages.config" />
  <repository path="..\Time\SBSTimeModel\packages.config" />
  <repository path="..\Time\Time\packages.config" />
</repositories>