@using SBSResourceAPI;
@{
    ViewBag.Title = Resource.Reset_Password_Complete;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.globalMenu').hide();
    });
</script>
<div class="main">
    <div class="row">
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile transparent">
                <div class="jumbotron bg-transparent-black-3">
                    <div class="container text-center">
                        <p><i class="fa fa-check-circle color-green"></i> @Resource.Reset_Password_Complete</p>
                        <p><a class="btn btn-greensea btn-large" href="@Url.Action("Login", "Account")"><i class="fa fa-home"></i> @Resource.Return_To_Login</a></p>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>





