<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   </startup>
   <appSettings>

      <add key="SMTP_SERVER" value="smtp.office365.com" />
      <add key="SMTP_PORT" value="587" />
      <add key="SMTP_USERNAME" value="support@bluecube.com.sg" />
      <add key="SMTP_PASSWORD" value="f@cEboOk987!" />
      <add key="SMTP_SSL" value="true" />
      <add key="SMTP_FROM" value="support@bluecube.com.sg" />
      
   </appSettings>
   <connectionStrings>
    <add name="SBS2DBContext" connectionString="Data Source=202.55.84.59,14336;Initial Catalog=HRSBS2;Persist Security Info=True;User ID=sa;Password=1a2b3c4D$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="SBS2DBContext" connectionString="Data Source=202.55.84.59,14334;Initial Catalog=SBS2DB;Persist Security Info=True;User ID=sbsadmin;Password=1A2B3C4D$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
   
   </connectionStrings>
   <system.net>
      <mailSettings>
         <smtp deliveryMethod="Network">
            <network host="smtp.office365.com" port="587" userName="support@sbsolutions.com.sg" password="bFkwaA1sqCA3" />
         </smtp>
      </mailSettings>
   </system.net>
   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
         <parameters>
            <parameter value="v11.0" />
         </parameters>
      </defaultConnectionFactory>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>
   <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
         <providers>
            <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
         </providers>
      </membership>
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
         <providers>
            <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
         </providers>
      </roleManager>
   </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>