<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
   <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <sectionGroup name="elmah">
         <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
         <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
         <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
         <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      </sectionGroup>
   </configSections>
   <connectionStrings>
     <add name="WorkflowDBContext" connectionString="Data Source=LAPTOP-64514UIV\SQLEXPRESS;Initial Catalog=WorkflowDB;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
     <add name="SBS2DBContext" connectionString="Data Source=LAPTOP-64514UIV\SQLEXPRESS;Initial Catalog=HRSBS2;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
      
      <!--<add name="WorkflowDBContext" connectionString="Data Source=42.61.88.131,14334;Initial Catalog=WorkflowDB;Persist Security Info=True;User ID=sbsadmin;Password=1A2B3C4D$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
      <add name="SBS2DBContext" connectionString="Data Source=42.61.88.131,14334;Initial Catalog=HRSBS2;Persist Security Info=True;User ID=sbsadmin;Password=1A2B3C4D$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
 
   </connectionStrings>
   <appSettings>
      <add key="Airbrake.ApiKey" value="b1d2f9fd225f9b86aa1ce813fa3695c6" />
      <add key="Airbrake.Environment" value="Demo" />
      <add key="Airbrake.ServerUri" value="https://api.airbrake.io/notifier_api/v2/notices" />

      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <add key="SMTP_SERVER" value="mail.sbsolutions.com.sg" />
      <add key="SMTP_PORT" value="25" />
      <add key="SMTP_USERNAME" value="support@sbsolutions.com.sg" />
      <add key="SMTP_PASSWORD" value="bFkwaA1sqCA3" />
      <add key="SMTP_SSL" value="false" />
      <add key="SMTP_FROM" value="support@sbsolutions.com.sg"/>
      
      <add key="wfrsvcURI" value="http://localhost:60140/" />
      <add key="elmah.mvc.disableHandler" value="false" />
      <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
      <add key="elmah.mvc.requiresAuthentication" value="false" />
      <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
      <add key="elmah.mvc.allowedRoles" value="*" />
      <add key="elmah.mvc.allowedUsers" value="*" />
      <add key="elmah.mvc.route" value="elmah" />
      <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

      <add key="SERVER_NAME" value="http://app.sbsolutions.com.sg/" />
      <add key="SBSTmpAPI" value="SBSTmpAPI" />
      <add key="WSVR_URL" value="http://app.sbsolutions.com.sg/billsbs2/WServ" />
     
      <add key="IsLocal" value="true" />
      <add key="IsLive" value="false" />

      <add key="Version_Control" value="1.06" />
      <add key="owin:AppStartup" value="HR.Startup" />
   </appSettings>
   <system.web>
      <machineKey validationKey="282487E295028E59B8F411ACB689CCD6F39DDD21E6055A3EE480424315994760ADF21B580D8587DB675FA02F79167413044E25309CCCDB647174D5B3D0DD9141" decryptionKey="8B6697227CBCA902B1A0925D40FAA00B353F2DF4359D2099" validation="SHA1" decryption="AES" />
      <globalization culture="auto" />
      <authentication mode="Forms">
         <forms name="RemotePortalAuth" loginUrl="~/Account/Login" protection="All" path="/" requireSSL="false" cookieless="UseCookies" enableCrossAppRedirects="true" slidingExpiration="true" />
      </authentication>
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
   </system.web>
   <system.webServer>
      <modules>
         <remove name="FormsAuthenticationModule" />
         <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
         <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
         <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      </modules>
      <handlers>
         <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </handlers>
      <validation validateIntegratedModeConfiguration="false" />

   </system.webServer>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
         </dependentAssembly>

         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
         <parameters>
            <parameter value="v11.0" />
         </parameters>
      </defaultConnectionFactory>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>
   <elmah>
      <security allowRemoteAccess="1" />
      <errorMail from="support@sbsolutions.com.sg" to="alan.gali@bluecube.com.sg" async="true" smtpPort="25" useSsl="true" userName="support@sbsolutions.com.sg" password="bFkwaA1sqCA3" smtpServer="mail.sbsolutions.com.sg" subject="SBS HR Unhandled Error" />
      <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/elmaLogs" />
   </elmah>
   <system.net>
      <mailSettings>
         <smtp deliveryMethod="Network">
            <network host="mail.sbsolutions.com.sg" port="25" userName="support@sbsolutions.com.sg" password="bFkwaA1sqCA3" />
         </smtp>
      </mailSettings>
   </system.net>
</configuration>