@model System.Web.Mvc.HandleErrorInfo
@using SBSResourceAPI;

@{
    ViewBag.Title = Resource.Error;
}
<div class="main-content">
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-danger">@Resource.Error.</h3>
                <h4 class="text-danger">@Resource.Message_An_Error_Occurred_While_Processing_Your_Request</h4>
            </div>
        </div>
    </div>
</div>


